.registro-container {
  min-height: 100vh;
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.registro-card {
  background: #1a1a1a;
  padding: 35px;
  width: 380px;
  border-radius: 14px;
  box-shadow: 0 0 15px #6f4aff44;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.registro-title {
  text-align: center;
  color: #fff;
  font-size: 26px;
  margin-bottom: 10px;
  border-bottom: 2px solid #6f4aff66;
  padding-bottom: 6px;
}

.input {
  background: #111;
  border: 1px solid #333;
  padding: 12px;
  border-radius: 8px;
  color: white;
  outline: none;
}

.input:focus {
  border-color: #6f4aff;
  box-shadow: 0 0 6px #6f4aff66;
}

.btn {
  margin-top: 10px;
  padding: 12px;
  background: #6f4aff;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 17px;
  transition: 0.2s;
}

.btn:hover {
  background: #8566ff;
}
